.train-times-dashlet .trains
{
   margin: 10px 8px;
}
.dashlet.train-times-dashlet div.message
{
   margin: 10px 8px;
}
.train-times-dashlet .yui-dt table
{
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #CBCBCB;
}
.train-times-dashlet .yui-dt tr.delayed .yui-dt-col-expected
{
   background-image: url('warning-icon.png');
   background-position: 90% 50%;
   background-repeat: no-repeat;
}
.train-times-dashlet .titleBarActions .refresh
{
    display: none;
    background-image: url('refresh-icon.png');
}
.train-times-dashlet .refresh a,
.train-times-dashlet .refresh a:active,
.train-times-dashlet .refresh a:hover
{
   display: block;
   height: 16px;
   text-decoration: none;
   width: 16px;
}
.train-times-dashlet .updates
{
   background-color: #FFFBDD;
   border-bottom: 1px solid #DDD6A0;
   padding: 5px 8px;
   display: none;
}
.train-times-dashlet .updates .update
{
   padding: 5px 0px 5px 30px;
   background-image: url('warning-icon.png');
   background-position: 0% 50%;
   background-repeat: no-repeat;
}
.train-times-dashlet .updates .update p
{
   padding-top: 0px;
   padding-bottom: 0px;
}